<div class="footer nav narrow dummy"></div>

<div class="footer fixed nav narrow">
    <div class="row">
        <div class="col-xs-3 navitem">
            <a href="http://rekadia.net/PTG.FIN" class="navchild navimg" id="navKeuangan"></a>
            <div class="navchild navtitle">KINERJA KEUANGAN</div>
        </div>
        <div class="col-xs-3 navitem">
            <a href="http://rekadia.net/PTG.OPS" class="navchild navimg" id="navOperasi"></a>
            <div class="navchild navtitle">KINERJA OPERASI</div>
        </div>
        <div class="col-xs-3 navitem">
            <a href="#" class="navchild navimg" id="navInvestasi"></a>
            <div class="navchild navtitle">INVESTASI</div>
        </div>
        <div class="col-xs-3 navitem">
            <a href="@Url.Action("Index", "Risk", new { Area = "Risk" })" class="navchild navimg" id="navResiko"></a>
            <div class="navchild navtitle">RESIKO</div>
        </div>
    </div>
    @*<div class="navchoice">
        <div class="navimg" id="navKeuangan"></div>
        <div class="navtitle">KINERJA KEUANGAN</div>
    </div>
    <div class="navchoice">
        <a href="#" class="navimg" id="navOperasi"></a>
        <div class="navtitle">KINERJA OPERASI</div>
    </div>
    <div class="navchoice">
        <a href="#" class="navimg" id="navInvestasi"></a>
        <div class="navtitle">INVESTASI</div>
    </div>
    <div class="navchoice">
        <a href="#" class="navimg" id="navResiko"></a>
        <div class="navtitle">RESIKO</div>
    </div>
    <div class="navketerangan">
        <a href="#" class="lastupdate-ico"></a>
        <div class="lastupdate-txt"></div>
    </div>*@
</div>

<div class="footer fixed narrow">
    <div class="pull-right">
        @*PT Pertamina Gas. All rights reserved.*@
    </div>
    <div>
        <strong>Copyright</strong> PT Pertamina Gas &copy; 2016-2017
    </div>
</div>

