<div class="footer">
    <div class="pull-right">
        @*PT Pertamina Gas. All rights reserved.*@
    </div>
    <div>
        <strong>Copyright</strong> PT Pertamina Gas &copy; 2016-2017
    </div>
</div>

