<div class="panel panel-danger">
    <div class="panel-heading"><b>Invalid Request</b></div>
    <div class="panel-body">
        <p><b>Sorry, your request could not be processed.</b></p>
        <p>Please try again</p>
    </div>
</div>