@model WebUI.Models.TopRiskTableModel
@using WebUI.Models
@{ 

}

<div class="clearfix mb-15">
    <div class="pull-left col-xs-2">
        <div class="text-vertical risk-impact">
            Probabilitas
        </div>
    </div>
    <div class="pull-left col-xs-10">
        <table class="table-responsive">
            @for (int i = 0; i < Model.ROW_COUNT; i++)
            {
                <tr>
                    @for (int j = 0; j < Model.COL_COUNT; j++)
                    {
                        int riskCount = Model.TopRiskTableCell[i][j].RiskImpactList.Count();
                        <td class="@Model.TopRiskTableCell[i][j].CellClass">
                            <a href="#" onclick="openRiskDetailPopup('@string.Join(",", Model.TopRiskTableCell[i][j].GetRiskIdList())'); return false;" class="riskcount @((riskCount > 0)?"circle big circle-white":"")">
                                @((riskCount > 0)?riskCount.ToString():"")
                            </a>
                        </td>
                    }
                </tr>
            }
        </table>
        <div class="text-center">
            Dampak
        </div>
    </div>
</div>